body {
	background: url(../img/Rectangle63.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.table {
	margin-bottom: 0px;
	margin-top: 0px;
}

.phaseTitle {
	margin-top: 15px;
	margin-bottom: 0px;
	padding: 0px;
	width: 70%;
	/* border: 2px solid #8AC007; */
}

.location {
	color: white;
	padding: 10px;
}

ul.nav.nav-tabs {
	display: table;
	width: 100%;
	position: fixed;
	/*table-layout: fixed;*/
}

ul.nav.nav-tabs>li {
	float: none;
	display: table-cell;
	border: 0px solid transparent;
	/* margin-bottom: -3px; */
	border-top-width: 0px;
}

/* ul.nav.nav-tabs>li:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 5px;
	height: 80%;
	width: 1px;
	border-left: 3px solid magenta;
} */
ul.nav.nav-tabs>li>a {
	text-align: center;
	/* 	margin-bottom: -3px; */
	border-radius: 0 0 0 0;
	border: 3px solid transparent;
	margin: 0 0 0 0;
	background-color: white;
	color: black;
	margin: 0 0 0 0;
	magin-top: -3px;
}

ul.nav.nav-tabs>li.active>a {
	border-color: white;
	border-bottom-color: #337ab7;
	border-bottom-width: 3px;
	border-top-width: 3px;
	border-style: solid;
	color: #337ab7;
	font-weight: bold;
	color: #337ab7;
	color: #337ab7;
	border-bottom-color: #337ab7;
}

#agenda {
	padding-top: 50px;
}