body:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../img/z13.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	opacity: 0.2;
	z-index: -1;
	position: fixed;
}

#carousel-controls button {
	background-image: none;
	background-color: grey;
	color: white;
	margin-left: 50px;
	margin-rigth: 50px;
	margin-bottom: 50px;
	border-radius: 5px;
	border-width: 0;
	bottom: 100px;
	height: 50px;
	width: 50px;
}

#carousel-controls button.active {
	background-color: #337ab7;
}

.glyphicon-chevron-left:before, .glyphicon-chevron-right:before {
	/* 	bottom: 20px; */
	/* 	margin-left: -10px;
	margin-right: 5px; */
	
}

.img-circular {
	width: 80px;
	height: 80px;
	display: block;
	border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	margin-top: 20px
}